* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Encode Sans SC", sans-serif;
  font-weight: 200;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #f7ff00, #db36a4);
}
.main {
  height: 67vh;
  width: 40vw;
  padding: 5%;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.score {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
h4 {
  font-size: 18px;
}
.rock,
.paper,
.scissor {
  height: 15vh;
  width: 7vw;
  border-radius: 50%;
  background-color: #f1c40f;
  margin: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rock:hover,
.paper:hover,
.scissor:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors {
  font-size: 40px;
}
.fa-hand-scissors {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
h5 {
  text-transform: capitalize;
  font-size: 18px;
  margin: 4px;
  font-weight: lighter;
}
.style {
  background-color: #8ae289;
  color: #1bec09;
  margin-top: 10px;
  padding: 7px;
}
.selection {
  text-transform: capitalize;
  font-weight: 800;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8px;
}
/* media queries */
@media (max-width: 1025px) {
  .main {
    width: 70vw;
    height: 50vh;
  }
  .rock,
  .paper,
  .scissor {
    height: 13vh;
    width: 10vw;
    border-radius: 60%;
    background-color: #f1c40f;
    margin: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 24px;
  }
  .user,
  .computer {
    font-size: 27px;
    margin: 10px;
  }
  .style {
    font-size: 30px;
  }
}

@media (max-width: 770px) {
  .main {
    width: 70vw;
    height: 60vh;
  }
  .rock,
  .paper,
  .scissor {
    height: 13vh;
    width: 10vw;
    border-radius: 60%;
    background-color: #f1c40f;
    margin: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 24px;
  }
  .user,
  .computer {
    font-size: 27px;
    margin: 10px;
  }
  .style {
    font-size: 30px;
  }
}

@media (max-width: 542px) {
  .main {
    width: 70vw;
    height: 60vh;
  }
  .rock,
  .paper,
  .scissor {
    height: 17vh;
    width: 30vw;
    padding: 10px;
    border-radius: 50%;
    background-color: #f1c40f;
    margin: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 17px;
  }
  .user,
  .computer {
    font-size: 17px;
    margin: 7px;
  }
  .style {
    font-size: 19px;
  }
}
@media (max-width: 376px) {
  .main {
    width: 70vw;
    height: 45vh;
  }
  .rock,
  .paper,
  .scissor {
    height: 10vh;
    width: 30vw;
    border-radius: 50%;
    background-color: #f1c40f;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 14px;
  }
  .user,
  .computer {
    font-size: 14px;
    margin: 4px;
  }
  .style {
    font-size: 16px;
  }
}

@media (max-width: 321px) {
  .main {
    width: 70vw;
    height: 45vh;
  }
  .rock,
  .paper,
  .scissor {
    height: 10vh;
    width: 30vw;
    border-radius: 50%;
    background-color: #f1c40f;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 10px;
  }
  .user,
  .computer {
    font-size: 12px;
    margin: 2px;
  }
  .style {
    font-size: 12px;
  }
  .fa-hand-rock,
  .fa-hand-paper,
  .fa-hand-scissors {
    font-size: 30px;
  }
}

@media (max-width: px) {
  .main {
    width: 70vw;
    height: 45vh;
  }
  .rock,
  .paper,
  .scissor {
    height: 10vh;
    width: 30vw;
    border-radius: 50%;
    background-color: #f1c40f;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 10px;
  }
  .user,
  .computer {
    font-size: 12px;
    margin: 2px;
  }
  .style {
    font-size: 12px;
  }
  .fa-hand-rock,
  .fa-hand-paper,
  .fa-hand-scissors {
    font-size: 30px;
  }
}
